menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"

        config BSP_USING_GPIO
            bool "Enable GPIO"
            select RT_USING_PIN
            default y

        menu "UART Drivers"
            config BSP_USING_UART0
                bool "Enable UART0"
                select RT_USING_SERIAL
                default y
            if BSP_USING_UART0
                config BSP_UART0_RX_PIN
                    int "UART0 RX Pin (MCU Pin Index, PA0=0, avoid PA2/PA3)"
                    default 0
                config BSP_UART0_TX_PIN
                    int "UART0 TX Pin (MCU Pin Index, PA1=1, avoid PA2/PA3)"
                    default 1
            endif

            config BSP_USING_UART1
                bool "Enable UART1"
                select RT_USING_SERIAL
                default n
            if BSP_USING_UART1
                config BSP_UART1_RX_PIN
                    int "UART1 RX Pin (MCU Pin Index, PA10=10)"
                    default 10
                config BSP_UART1_TX_PIN
                    int "UART1 TX Pin (MCU Pin Index, PA11=11)"
                    default 11
            endif

            config BSP_USING_UART2
                bool "Enable UART2"
                select RT_USING_SERIAL
                default n
            if BSP_USING_UART2
                config BSP_UART2_RX_PIN
                    int "UART2 RX Pin (MCU Pin Index, PB2=18)"
                    default 18
                config BSP_UART2_TX_PIN
                    int "UART2 TX Pin (MCU Pin Index, PB3=19)"
                    default 19
            endif

            config BSP_USING_UART3
                bool "Enable UART3"
                select RT_USING_SERIAL
                default n
            if BSP_USING_UART3
                config BSP_UART3_RX_PIN
                    int "UART3 RX Pin (MCU Pin Index, PC6=38)"
                    default 38
                config BSP_UART3_TX_PIN
                    int "UART3 TX Pin (MCU Pin Index, PC7=39)"
                    default 39
            endif
        endmenu

        config BSP_USING_RTC
            bool "Enable RTC (Software)"
            select RT_USING_RTC
            default n

        config BSP_USING_WDT
            bool "Enable Watch Dog"
            select RT_USING_WDT
            default n

        config BSP_USING_ADC
            bool "Enable ADC"
            select RT_USING_ADC
            default n

        config BSP_USING_CAN
            bool "Enable CAN"
            select RT_USING_CAN
            default n
        if BSP_USING_CAN
            config BSP_CAN_RX_PIN
                int "CAN RX Pin (MCU Pin Index, e.g. PA12=12)"
                default 12
            config BSP_CAN_TX_PIN
                int "CAN TX Pin (MCU Pin Index, e.g. PA13=13)"
                default 13
        endif

        menu "I2C Drivers"
            config BSP_USING_I2C0
                bool "Enable I2C0 BUS"
                select RT_USING_I2C
                default n
            if BSP_USING_I2C0
                config BSP_I2C0_SCL_PIN
                    int "I2C0 SCL Pin (MCU Pin Index, e.g. PA12=12)"
                    default 12
                config BSP_I2C0_SDA_PIN
                    int "I2C0 SDA Pin (MCU Pin Index, e.g. PA13=13)"
                    default 13
            endif

            config BSP_USING_I2C1
                bool "Enable I2C1 BUS"
                select RT_USING_I2C
                default n
            if BSP_USING_I2C1
                config BSP_I2C1_SCL_PIN
                    int "I2C1 SCL Pin (MCU Pin Index, e.g. PB7=23)"
                    default 23
                config BSP_I2C1_SDA_PIN
                    int "I2C1 SDA Pin (MCU Pin Index, e.g. PB6=22)"
                    default 22
            endif
        endmenu

        menu "PWM Drivers"
            config BSP_USING_PWM0
                bool "Using PWM0"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM0
                config BSP_PWM0_CH1_PIN
                    int "PWM0 Channel A Pin (MCU Pin Index, default PA8=8)"
                    default 8
                config BSP_PWM0_CH2_PIN
                    int "PWM0 Channel B Pin (MCU Pin Index, default PA9=9)"
                    default 9
            endif

            config BSP_USING_PWM1
                bool "Using PWM1"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM1
                config BSP_PWM1_CH1_PIN
                    int "PWM1 Channel A Pin (MCU Pin Index, default PB6=22)"
                    default 22
                config BSP_PWM1_CH2_PIN
                    int "PWM1 Channel B Pin (MCU Pin Index, default PB7=23)"
                    default 23
            endif

            config BSP_USING_PWM2
                bool "Using PWM2"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM2
                config BSP_PWM2_CH1_PIN
                    int "PWM2 Channel A Pin (MCU Pin Index, default PA12=12)"
                    default 12
                config BSP_PWM2_CH2_PIN
                    int "PWM2 Channel B Pin (MCU Pin Index, default PA13=13)"
                    default 13
            endif

            config BSP_USING_PWM3
                bool "Using PWM3"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM3
                config BSP_PWM3_CH1_PIN
                    int "PWM3 Channel A Pin (MCU Pin Index, default PA14=14)"
                    default 14
                config BSP_PWM3_CH2_PIN
                    int "PWM3 Channel B Pin (MCU Pin Index, default PA15=15)"
                    default 15
            endif
        endmenu

        menu "SPI Drivers"
            config BSP_USING_SPI0
                bool "Enable SPI0 BUS"
                select RT_USING_SPI
                default n 
            if BSP_USING_SPI0
                config BSP_SPI0_PIN_GRP_A
                    bool "Use PA9/10/11 (MCU Pin Index 9/10/11)"
                    default y
                config BSP_SPI0_PIN_GRP_B
                    bool "Use PA13/14/15 (MCU Pin Index 13/14/15)"
                    default n
            endif

            config BSP_USING_SPI1
                bool "Enable SPI1 BUS"
                select RT_USING_SPI
                default n
            if BSP_USING_SPI1
                config BSP_SPI1_PIN_FIXED
                    bool "Fixed on PC5/6/7 (MCU Pin Index 37/38/39)"
                    default y
            endif
        endmenu

    endmenu

    menu "Onboard Peripheral Drivers"

    endmenu

    menu "Offboard Peripheral Drivers"

    endmenu

    config SOC_SWM181CBT6
        bool
        select RT_USING_COMPONENTS_INIT
        select RT_USING_USER_MAIN
        default y

endmenu
