menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"

        config BSP_USING_GPIO
            bool "Enable GPIO"
            select RT_USING_PIN
            default y

        menu "UART Drivers"
            config BSP_USING_UART0
                bool "Enable UART0"
                select RT_USING_SERIAL
                default y
            if BSP_USING_UART0
                config BSP_UART0_RX_PIN
                    int "UART0 RX Pin (30 for PA0)"
                    default 30
                config BSP_UART0_TX_PIN
                    int "UART0 TX Pin (31 for PA1)"
                    default 31
            endif

            config BSP_USING_UART1
                bool "Enable UART1"
                select RT_USING_SERIAL
                default n
            if BSP_USING_UART1
                config BSP_UART1_RX_PIN
                    int "UART1 RX Pin (28 for PA10)"
                    default 28
                config BSP_UART1_TX_PIN
                    int "UART1 TX Pin (29 for PA11)"
                    default 29
            endif

            config BSP_USING_UART2
                bool "Enable UART2"
                select RT_USING_SERIAL
                default n
            if BSP_USING_UART2
                config BSP_UART2_RX_PIN
                    int "UART2 RX Pin (34 for PB2)"
                    default 34
                config BSP_UART2_TX_PIN
                    int "UART2 TX Pin (35 for PB3)"
                    default 35
            endif

            config BSP_USING_UART3
                bool "Enable UART3"
                select RT_USING_SERIAL
                default n
            if BSP_USING_UART3
                config BSP_UART3_RX_PIN
                    int "UART3 RX Pin (15 for PC6)"
                    default 15
                config BSP_UART3_TX_PIN
                    int "UART3 TX Pin (14 for PC7)"
                    default 14
            endif
        endmenu

        config BSP_USING_RTC
            bool "Enable RTC (Software)"
            select RT_USING_RTC
            default n

        config BSP_USING_WDT
            bool "Enable Watch Dog"
            select RT_USING_WDT
            default n

        config BSP_USING_ADC
            bool "Enable ADC"
            select RT_USING_ADC
            default n

        config BSP_USING_CAN
            bool "Enable CAN"
            select RT_USING_CAN
            default n
        if BSP_USING_CAN
            config BSP_CAN_RX_PIN
                int "CAN RX Pin (13 for PA12)"
                default 13
            config BSP_CAN_TX_PIN
                int "CAN TX Pin (12 for PA13)"
                default 12
        endif

        menu "I2C Drivers"
            config BSP_USING_I2C0
                bool "Enable I2C0 BUS"
                select RT_USING_I2C
                default n
            if BSP_USING_I2C0
                config BSP_I2C0_SCL_PIN
                    int "I2C0 SCL Pin (13 for PA12)"
                    default 13
                config BSP_I2C0_SDA_PIN
                    int "I2C0 SDA Pin (12 for PA13)"
                    default 12
            endif

            config BSP_USING_I2C1
                bool "Enable I2C1 BUS"
                select RT_USING_I2C
                default n
            if BSP_USING_I2C1
                config BSP_I2C1_SCL_PIN
                    int "I2C1 SCL Pin (40 for PB7)"
                    default 40
                config BSP_I2C1_SDA_PIN
                    int "I2C1 SDA Pin (39 for PB6)"
                    default 39
            endif
        endmenu

        menu "PWM Drivers"
            config BSP_USING_PWM0
                bool "Using PWM0"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM0
                config BSP_PWM0_CH1_PIN
                    int "PWM0 Channel A Pin (21 for PA8)"
                    default 21
                config BSP_PWM0_CH2_PIN
                    int "PWM0 Channel B Pin (22 for PA9)"
                    default 22
            endif

            config BSP_USING_PWM1
                bool "Using PWM1"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM1
                config BSP_PWM1_CH1_PIN
                    int "PWM1 Channel A Pin (39 for PB6)"
                    default 39
                config BSP_PWM1_CH2_PIN
                    int "PWM1 Channel B Pin (40 for PB7)"
                    default 40
            endif

            config BSP_USING_PWM2
                bool "Using PWM2"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM2
                config BSP_PWM2_CH1_PIN
                    int "PWM2 Channel A Pin (13 for PA12)"
                    default 13
                config BSP_PWM2_CH2_PIN
                    int "PWM2 Channel B Pin (12 for PA13)"
                    default 12
            endif

            config BSP_USING_PWM3
                bool "Using PWM3"
                select RT_USING_PWM
                default n
            if BSP_USING_PWM3
                config BSP_PWM3_CH1_PIN
                    int "PWM3 Channel A Pin (11 for PA14)"
                    default 11
                config BSP_PWM3_CH2_PIN
                    int "PWM3 Channel B Pin (8 for PA15)"
                    default 8
            endif
        endmenu

        menu "SPI Drivers"
            config BSP_USING_SPI0
                bool "Enable SPI0 BUS"
                select RT_USING_SPI
                default n 
            if BSP_USING_SPI0
                config BSP_SPI0_MISO_PIN
                    int "SPI0 MISO Pin (22 for PA9)"
                    default 22
                config BSP_SPI0_MOSI_PIN
                    int "SPI0 MOSI Pin (28 for PA10)"
                    default 28
                config BSP_SPI0_SCLK_PIN
                    int "SPI0 SCLK Pin (29 for PA11)"
                    default 29
            endif

            config BSP_USING_SPI1
                bool "Enable SPI1 BUS"
                select RT_USING_SPI
                default n
            if BSP_USING_SPI1
                config BSP_SPI1_MISO_PIN
                    int "SPI1 MISO Pin (41 for PC5)"
                    default 41
                config BSP_SPI1_MOSI_PIN
                    int "SPI1 MOSI Pin (42 for PC4)"
                    default 42
                config BSP_SPI1_SCLK_PIN
                    int "SPI1 SCLK Pin (44 for PC3)"
                    default 44
            endif
        endmenu

    endmenu

    menu "Onboard Peripheral Drivers"

    endmenu

    menu "Offboard Peripheral Drivers"

    endmenu

    config SOC_SWM181CBT6
        bool
        select RT_USING_COMPONENTS_INIT
        select RT_USING_USER_MAIN
        default y

endmenu
